<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Signal Equalizer </title>
    
</head>
<body>
  
    <label for="sig" class="file-upload-button">Browse Signal</label>
            <input type="file"
                   id="sig" name="signal"
                   accept=".wav, .csv" onchange="previewAudio(this)"><br>
                   <audio id="audioPlayer" controls>
                  </audio><br>
                   <label for="slider440" id="label1">0-85:</label>
                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider440"><br>

                     <label for="slider880" id="label2">85-102:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider880"><br>
                   <label for="slider1760" id="label3">102-146:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider1760"><br>
                   <label for="slider1000" id="label4">146-190:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider1000"><br>
                   <label for="slider2500" id="label5">190-234:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider2500"><br>
                   <label for="slider5000" id="label6">234-278:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider5000"><br>
                   <label for="slider6000" id="label7">278-322:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider6000"><br>
                   <label for="slider600" id="label8">322-366:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider600"><br>
                   <label for="slider10000" id="label9">366-410:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider10000"><br>
                   <label for="slider15000" id="label10">410-440</label>

                   <input type="range" min="0"  max="10" value="1" class="slider" id="slider15000"><br>
                   <input type="checkbox" id="music">
                   <label for="music">music mode</label><br>
                   <label for="guitar" id="label1">guitar:</label>
                   <input type="range" min="0"  max="10" value="1" class="slider1" id="guitar"><br>

                     <label for="tabla" id="label2">drums:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider1" id="tabla"><br>
                   <input type="checkbox" id="vowels">
                   <label for="vowels">Vowels</label><br>
                   <label for="O" id="label1">O:</label>
                   <input type="range" min="0"  max="10" value="1" class="slider2" id="o"><br>

                     <label for="A" id="label2">A:</label>

                   <input type="range" min="0"  max="10" value="1" class="slider2" id="a"><br>
                   <label for="I" id="label1">I:</label>
                   <input type="range" min="0"  max="10" value="1" class="slider2" id="i"><br>

                   <button id="change">Generate Audio</button><br>
                   <audio id="audioPlayer2" controls>
                    
                   </audio><br>
                  <div id ="spectogram"> <img id="img"/></div>
                  <div id="graph1"></div>
                  <div id ="spectogram2"> <img id="img2"/></div>

                  <div id="graph2"></div>

    <script src="../static/js/logic.js"></script>
                  </body>
</html>
